/* .App {
  text-align: center;
} */

/* Homepage */
.img-samsung {
  background-image: url(https://images.unsplash.com/photo-1610792516820-2bff50c652a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.hvr:hover{
  box-shadow: 0px 3px 10px  rgba(0, 0, 0, 0.442);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.img-apple{
  background-image: url(https://images.unsplash.com/photo-1572403487319-1bab5017b83b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-position: center;
}
.img-google{
  background-image: url(https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

/* PaymentPage Confirmation */
.icon-confirm {
  font-size: 36px;
  color: white;
  background-color: #3167eb;
  padding: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1em #3167eb;
}

/* Carrousel */
.slick-arrow {
  background-color: black !important;
  border-radius: 50%;
}

.logo {
  width: 250px;
}
/* Colors */
.yellow {
  color:#ffbe0b;
}
.black {
  color:black
}
.yellow-bg {
  background-color:#ffbe0b;
}
.btn-yellow {
  background-color: #ffbe0b;
  color:white;
  border: 1px solid #ffbe0b;
}
.btn-yellow:hover {
  background-color: white;
  color:#ffbe0b;
  border: 1px solid #ffbe0b;
  
}
.hover:hover {
  color: #ffbe0b;
}

.bottom {
  background-color: #ffbe0b;
}



.banner1 {
  background-image: url(https://images.pexels.com/photos/783243/pexels-photo-783243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
/* banner2 */
.img1 {
  background-image: url(https://images.pexels.com/photos/861126/pexels-photo-861126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.img2 {
  background-image: url(https://images.pexels.com/photos/9555114/pexels-photo-9555114.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

/* banner3 */
.img5 {
  background-image: url(https://images.pexels.com/photos/7550373/pexels-photo-7550373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}


/* STAR RATING COLOR */

.checked {
  color: #ffbe0b;
}

.text-banner1 {
  background-color: rgba(0, 0, 0, 0.486);
  padding: 24px;
  color:white;
  width: 100%;
  height: 550px;
}



/* SIGN IN WITH GOOGLE */


.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  

}


/* USERPAGE > ACTIVE ORDERS > TRACKING */


.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #FF5722
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}








