/* .App {
  text-align: center;
} */

/* Homepage */
.img-banner {
  background-image: url(/public/images/banners/banner9.jpg);
}

/* PaymentPage Confirmation */
.icon-confirm {
  font-size: 36px;
  color: white;
  background-color: #3167eb;
  padding: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1em #3167eb;
}


.slick-arrow {
  background-color: black !important;
  border-radius: 50%;
}